<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
	  <sc.variable name="SolutionX.SerializationSource" value="$(dataFolder)\unicorn-SolutionUriX\" />
    <unicorn>
			<configurations>
				<configuration name="SolutionX.Foundation.Serialization.LayersRoots">
					<targetDataStore physicalRootPath="$(SolutionX.SerializationSource)Foundation\Serialization\serialization\LayersRoots" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- Settings -->
						<include name="Feature.Settings" database="master" path="/sitecore/system/Settings/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Settings" database="master" path="/sitecore/system/Settings/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Settings" database="master" path="/sitecore/system/Settings/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Templates -->
						<include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Templates" database="master" path="/sitecore/templates/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Branches -->
						<include name="Foundation.Branches" database="master" path="/sitecore/templates/branches/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Feature.Branches" database="master" path="/sitecore/templates/branches/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Branches" database="master" path="/sitecore/templates/branches/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Renderings -->
						<include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Layouts -->
						<include name="Feature.Layouts" database="master" path="/sitecore/layout/Layouts/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Layouts" database="master" path="/sitecore/layout/Layouts/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Layouts" database="master" path="/sitecore/layout/Layouts/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Placeholder Settings -->
						<include name="Feature.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Models -->
						<include name="Feature.Models" database="master" path="/sitecore/layout/Models/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Models" database="master" path="/sitecore/layout/Models/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Models" database="master" path="/sitecore/layout/Models/Project/SolutionX">
							<exclude children="true" />
						</include>

						<!-- Media -->
						<include name="Feature.Media" database="master" path="/sitecore/media library/Feature/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Foundation.Media" database="master" path="/sitecore/media library/Foundation/SolutionX">
							<exclude children="true" />
						</include>
						<include name="Project.Media" database="master" path="/sitecore/media library/Project/SolutionX">
							<exclude children="true" />
						</include>

					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
