<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="XA.Foundation.Multisite.Environment" value="LIVE">
        <patch:attribute name="value">LOCAL</patch:attribute>
      </setting>
      <!--<setting name="Speak.HttpCaching.SetMaxAge">
        <patch:attribute name="value">false</patch:attribute>
      </setting>-->
      <!--<setting name="ContentTesting.AutomaticContentTesting.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>-->
    </settings>
  </sitecore>
</configuration>
