<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="SolutionX.ModuleTypeX.ModuleNameX" dependencies="UnicornSerializationDependenciesX">
					<targetDataStore physicalRootPath="$(SolutionX.SerializationSource)ModuleTypeX\ModuleNameX\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- <include name="Branches" database="master" path="/sitecore/templates/Branches/ModuleTypeX/SolutionX/ModuleNameX" /> -->
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="Media" database="master" path="/sitecore/media library/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="Models" database="master" path="/sitecore/layout/Models/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="Settings" database="master" path="/sitecore/system/Settings/ModuleTypeX/SolutionX/ModuleNameX" />
						<include name="Templates" database="master" path="/sitecore/templates/ModuleTypeX/SolutionX/ModuleNameX" />
                        <!-- <include name="EditFrameButton.MySitecoreModule" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/MySitecoreModule" /> -->
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
